@model membakery_inventory.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Emp_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Emp_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.Stock_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.Stock_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
