@model membakery_inventory.Models.TransactionIn

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransactionIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.Stock_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.Stock_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
