@model IEnumerable<membakery_inventory.Models.TransactionIn>

@{
    ViewBag.Title = "Stock In";
}

<h2>Stock In</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Emp_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Stock_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Emp_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.Stock_Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TransactionNoIn }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.TransactionNoIn }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.TransactionNoIn })*@
        </td>
    </tr>
}

</table>
